<ul>
    <li><label>Nombre:</label><strong>{{chupitos.nombre}}</strong></li>
    <li><label>Alcoholes:</label><strong>{{chupitos.alcoholes}}</strong></li>
    <li><label>Mezclas:</label><strong>{{chupitos.mezclas}}</strong></li>

    <a href='/chupitos/delete/{{chupitos.nombre}}'>Borrar</a>
    <a href='/'>Inicio</a>


</ul>