<!DOCTYPE html>
<html>
<head>
    <title>Chupitos Ricos</title>
</head>
<body>
{#    {% if app.user %}#}
    <a href="{{path('add_asignatura')}}">Alta asignatura</a>
    <a href="{{path('add_profesor')}}">Alta profesor</a>
{#{% endif %}
  #}  
    <h1>Chupitos Ricos</h1>
    <ul>
        {#{% for resultado in asignatura %}
            <li>{{ resultado.nombre }}</li>
        {% endfor %}#}
        hola
    </ul>
</body>
</html>